DB_HOST=mysql.railway.internal
DB_PORT=3306
DB_USER=root
DB_PASSWORD=TKbDLIBGGYcQoTpwazxunzkhvrbSFmKz
DB_NAME=railway

CLOUDINARY_CLOUD_NAME=tu_cloud_name
CLOUDINARY_API_KEY=tu_api_key
CLOUDINARY_API_SECRET=tu_api_secret

JWT_SECRET=escribe-aqui-una-clave-larga-y-segura-para-tu-produccion
JWT_EXPIRACION_MINUTOS=60

BCRYPT_STRENGTH=12

FRONTEND_URL=https://vempa.vercel.app

ADMIN_EMAIL=admin@vempa.com
ADMIN_PASSWORD=escribe-una-contrasena-segura-aqui

PORT=3000